<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ps4pkg.tool" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>PS4 PKG Tool</name>
    <description>PS4 PKG Splitter and Joiner</description>
    <author email="dev@example.com" href="https://cordova.io">
        Developer
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <plugin name="cordova-plugin-file" spec="^8.0.0" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.1.5" />

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
        </config-file>
        <custom-preference name="android-manifest/application/@requestLegacyExternalStorage" value="true" />
    </platform>
</widget>
