<?xml class='1.0' encoding='utf-8'?>
<widget id="com.ps4pkg.studio" version="1.0.8" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PS4 PKG Studio</name>
    <description>PS4 PKG Splitting, Merging and Direct Installer Tool</description>
    <author email="dev@ps4pkgstudio.com" href="http://ps4pkgstudio.com">PS4 Studio Dev</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <preference name="KeepRunning" value="true" />
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <attribute name="requestLegacyExternalStorage" value="true" />
        </config-file>
    </platform>
</widget>
